{% extends 'base.html' %}
{% block content %}

<div class="row align-items-center">
  <div class="col-md-6">
    <h2 class="text-success">About Forever Living Products</h2>
    <h4 style="color: rgb(10, 81, 81);">Learn More About Forever</h4>
     <p>About Forever Living
         Our Leadership
          From Plant to Product to You
            FAQ</p>
    <p>
      Forever Living Products is a global company known for
      aloe vera based health and wellness products.
    </p>
    <p>
      The company focuses on natural ingredients,
      quality manufacturing and customer satisfaction.
    </p>
    
  </div>

  <div class="col-md-6">
    <img src="https://via.placeholder.com/400x250"
         class="img-fluid rounded"
         alt="About Image">
  </div>
</div>

{% endblock %}
