

 {% extends 'base.html' %}
{% comment %}
{% block title %}
<title>Show Data</title>
{% endblock %}

{% block content %}
<table class=

{{ data }}

{% for i in data %}
    <p>{{ i.name }}</p>
    <p>{{ i.email }}</p>
    <p>{{ i.contact }}</p>
    <p>{{ i.qualification }}</p>
    <p>{{ i.gender }}</p>
    <p>{{ i.state }}</p>
{% endfor %}

{% endblock %} {% endcomment %}


{% block title %}
<title>Show Data</title>
{% endblock %}

{% block content %}

 <table class="table table-bordered table-striped">

    <thead class="table-darkblue">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Qualification</th>
            <th>Gender</th>
            <th>State</th>
        </tr>
    </thead>

    <tbody> 
        {% for i in data %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.contact }}</td>
            <td>{{ i.qualification }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.state }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No data found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}